/* Non-critical styles */
.header {
  background-image: url("header-bg.png");
  padding: 20px;
  color: white;
  text-align: center;
}

.optimization-technique {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

h1,
h2 {
  color: #2c3e50;
}

.icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.logo {
  width: 100px;
  height: auto;
}

.inline-svg {
  vertical-align: middle;
}
